{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block titlePage %}Dashboard{% endblock %}

{% block style %}
<style>
    .search-bar-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .search-bar {
        width: 100%;
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
    }

    .search-bar input {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .search-bar .dropdown {
        position: relative;
        width: auto;
    }

    .search-bar .dropdown button {
        padding: 11px;
        border: none;
        border-radius: 5px;
        background-color: #0d2329;
        color: #fff;
        cursor: pointer;
        text-align: center;
    }

    .search-bar .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #ffffff;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
        z-index: 1;
        width: 100%;
        border-radius: 5px;
    }

    .search-bar .dropdown-content button {
        padding: 10px;
        width: 100%;
        border: none;
        background-color: #fff;
        color: #0d2329;
        cursor: pointer;
        text-align: left;
    }

    .search-bar .dropdown-content button:hover {
        background-color: #f1f1f1;
    }

    .search-bar .dropdown:hover .dropdown-content {
        display: block;
    }

    .tabs {
        display: flex;
        justify-content: space-between;
        margin: 2% 0;
        width: 100%;
    }

    .tabs .tab-buttons {
        display: flex;
        gap: 0;
        width: 100%;
    }

    .tabs .tab-buttons button {
        flex: 1;
        text-align: center;
        border: none;
        background: transparent;
        font-size: 14px;
        font-weight: bold;
        color: #b0b0b0;
        cursor: pointer;
        position: relative;
        padding-bottom: 5px;
    }

    .tabs .tab-buttons button.active {
        color: #05664f;
    }

    .tabs .tab-buttons button.active:after {
        content: '';
        display: block;
        height: 3px;
        width: 100%;
        background-color: #05664f;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .campaign-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }

    .campaign-card {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 20px;
        background-color: #f9f9f9;
        box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
        flex: 1 1 calc(33.333% - 20px);
        box-sizing: border-box;
    }

    .campaign-card h3 {
        margin-bottom: 10px;
        color: #05664f;
    }

    .campaign-card p {
        margin: 5px 0;
        color: #555;
    }

    .campaign-card .progress-bar {
        margin-top: 10px;
        height: 20px;
        background-color: #ddd;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }

    .campaign-card .progress {
        height: 100%;
        background-color: #05664f;
        text-align: center;
        color: #fff;
        line-height: 20px;
        width: 0%;
    }

    .campaign-card .donate-button {
        margin-top: 10px;
        padding: 10px;
        background-color: #05664f;
        color: #fff;
        border: none;
        width: 33%;
        min-width: 90px;
        border-radius: 5px;
        cursor: pointer;
    }

    .campaign-card .donate-button:hover {
        background-color: #044f3b;
    }

    @media (max-width: 768px) {
        .tabs .tab-buttons button {
            font-size: 12px;
        }

        .search-bar {
            flex-direction: column;
        }

        .search-bar input {
            width: 100%;
            margin-bottom: 3%;
        }

        .search-bar .dropdown {
            width: 100%;
            margin-bottom: 5%;
        }

        .tabs {
            margin-bottom: 10%;
        }
        .campaign-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }

        .campaign-card {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
</style>

<style>
    .button-group {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .filter-button {
        padding: 11px;
        border: none;
        border-radius: 5px;
        background-color: #0d2329;
        color: white;
        cursor: pointer;
    }

    .filter-button i {
        margin-right: 5px;
    }

    .dropdown {
        position: relative;
    }

    .dropdown button {
        padding: 11px;
        border: none;
        border-radius: 5px;
        background-color: #0d2329;
        color: white;
        cursor: pointer;
        text-align: center;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #ffffff;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 100%;
        border-radius: 5px;
    }

    .dropdown-content button {
        padding: 10px;
        width: 100%;
        border: none;
        background-color: #fff;
        color: #0d2329;
        cursor: pointer;
        text-align: left;
    }

    .dropdown-content button:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .filter-section {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
    }

    .filter-row {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 200px;
    }

    .filter-row label {
        font-size: 14px;
        font-weight: bold;
        color: #333;
        margin-bottom: 5px;
    }

    .filter-row input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        width: 100%;
    }

    .apply-filter-button {
        padding: 10px 20px;
        background-color: #0d2329;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        align-self: center;
    }

    .apply-filter-button:hover {
        background-color: #092022;
    }



    @media (max-width: 768px) {
        .button-group {
            flex-direction: column;
            align-items: stretch;
            gap: 10px;
        }

        .filter-button,
        .dropdown button {
            width: 100%;
        }
        .filter-section {
            flex-direction: column;
            align-items: stretch;
        }

        .filter-row {
            width: 100%;
        }

        .apply-filter-button {
            width: 100%;
            text-align: center;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

    th, td {
        padding: 12px;
        text-align: center;
        border: 1px solid #ddd;
    }

    th {
        background-color: #05664f;
        color: white;
        font-size: 16px;
    }

    td {
        color: #555;
    }

    tr:hover {
        background-color: #f1f1f1;
    }

    table tbody tr:last-child td {
        border-bottom: none;
    }

    .small-column {
        width: 10%; 
    }

    #top-campaigns-container,
    #top-donors-container {
        display: none;
    }

    .donors-list table {
        width: 100%;
        table-layout: fixed;
    }


</style>
{% endblock %}

{% block content %}

<div class="search-bar-wrapper">
    <form class="search-bar" method="GET" action="{{ url_for('index') }}">
        <input type="text" 
               name="q" 
               placeholder="Pesquisar campanhas..." 
               value="{{ search_term|default('') }}">
        <div class="dropdown" id="category-dropdown" style="display: none;">
            <button type="button">Selecionar categoria <i class="fa fa-chevron-down"></i></button>
            <div class="dropdown-content">
                <button type="button" id="money-tab" onclick="switchTab('money')">Doação de Dinheiro</button>
                <button type="button" id="items-tab" onclick="switchTab('items')">Doação de Itens</button>
            </div>
        </div>
    </form>
</div>


<div class="tabs">
    <div class="tab-buttons">
        <button class="active" id="all-campaigns">TODAS AS CAMPANHAS</button>
        <button id="top-campaigns">CAMPANHAS MAIS BEM-SUCEDIDAS</button>
        <button id="top-donors">TOP 10 DOADORES</button>
    </div>
</div>

<div id="all-campaigns-container" class="campaign-container">
    {% for campaign in most_recent %}
    <div class="campaign-card">
        <h3>{{ campaign.title }}</h3>
        <p><strong>Descrição:</strong> {{ campaign.description }}</p>
        <p><strong>Tipo:</strong> {{ campaign.tipo }}</p>
        <p><strong>Status:</strong> {{ campaign.status }}</p>
        <p><strong>Criado em:</strong> {{ campaign.created_at }}</p>
        <p><strong>Criador:</strong> {{ campaign.user_name }}</p>
        <p><strong>Prazo:</strong> {{ campaign.deadline }}</p>
        <p><strong>Meta:</strong> {{ campaign.meta }}</p>
        <p><strong>Progresso:</strong></p>
        <div class="progress-bar">
            <div class="progress" style="width: {{ campaign.visual_progress }}%;">
                {{ campaign.visual_progress|round(1) }}%
            </div>
        </div>
        <a href="{{ url_for('make_donations', campaign_id=campaign.id) }}">
            <button class="donate-button">Doar</button>
        </a>
    </div>
    {% endfor %}
</div>

<div id="top-campaigns-container" class="campaign-container" style="display: none;">
    {% for campaign in most_successful %}
    <div class="campaign-card">
        <h3>{{ campaign.title }}</h3>
        <p><strong>Descrição:</strong> {{ campaign.description }}</p>
        <p><strong>Tipo:</strong> {{ campaign.tipo }}</p>
        <p><strong>Status:</strong> {{ campaign.status }}</p>
        <p><strong>Criado em:</strong> {{ campaign.created_at }}</p>
        <p><strong>Criador:</strong> {{ campaign.user_name }}</p>
        <p><strong>Prazo:</strong> {{ campaign.deadline }}</p>
        <p><strong>Meta:</strong> {{ campaign.meta }}</p>
        <p><strong>Progresso:</strong></p>
        <div class="progress-bar">
            <div class="progress" style="width: {{ campaign.visual_progress }}%;">
                {{ campaign.visual_progress|round(1) }}%
            </div>
        </div>
        <a href="{{ url_for('make_donations', campaign_id=campaign.id) }}">
            <button class="donate-button">Doar</button>
        </a>
    </div>
    {% endfor %}
</div>

<div id="top-donors-container" class="campaign-container">

    <div id="items-top-donors" class="donors-list">
      <table class="campaign-card">
        <thead>
          <tr>
            <th>Top</th>
            <th class="small-column">ID do Usuário</th>
            <th>Nome</th>
            <th>Total de Itens</th>
          </tr>
        </thead>

        <tbody>
          {% for donor in top_item_donors %}
          <tr>
            <td><strong>{{ loop.index }}</strong></td>
            <td class="small-column">{{ donor.user_id }}</td>
            <td><strong>{{ donor.user_name }}</strong></td>
            <td><strong>{{ donor.total_items_donated }}</strong></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  
    <div id="money-top-donors" class="donors-list" style="display: none;">
      <table class="campaign-card">
        <thead>
          <tr>
            <th>Top</th>
            <th class="small-column">ID do Usuário</th>
            <th>Nome</th>
            <th>Total Doado (R$)</th>
          </tr>
        </thead>

        <tbody>
          {% for donor in top_money_donors %}
          <tr>
            <td><strong>{{ loop.index }}</strong></td>
            <td class="small-column">{{ donor.user_id }}</td>
            <td><strong>{{ donor.user_name }}</strong></td>
            <td><strong>{{ donor.total_donated }}</strong></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const allCampaignsTab = document.getElementById("all-campaigns");
        const topCampaignsTab = document.getElementById("top-campaigns");
        const topDonorsTab = document.getElementById("top-donors");
        const categoryDropdown = document.getElementById("category-dropdown");
        const itemsTab = document.getElementById("items-top-donors");
        const moneyTab = document.getElementById("money-top-donors");
        const moneyTabButton = document.getElementById("money-tab");
        const itemsTabButton = document.getElementById("items-tab");

        function hideCategoryDropdown() {
            categoryDropdown.style.display = "none";
        }

        function showCategoryDropdown() {
            categoryDropdown.style.display = "block";
        }

        allCampaignsTab.addEventListener("click", function () {
            hideCategoryDropdown();
        });

        topCampaignsTab.addEventListener("click", function () {
            hideCategoryDropdown();
        });

        topDonorsTab.addEventListener("click", function () {
            showCategoryDropdown();
            showMoneyDonors(); // Exibir a tabela de doação por dinheiro ao ativar a aba
        });

        function showMoneyDonors() {
            moneyTab.style.display = "flex";
            itemsTab.style.display = "none";
            moneyTabButton.classList.add("active");
            itemsTabButton.classList.remove("active");
        }

        function showItemsDonors() {
            moneyTab.style.display = "none";
            itemsTab.style.display = "flex";
            moneyTabButton.classList.remove("active");
            itemsTabButton.classList.add("active");
        }

        moneyTabButton.addEventListener("click", showMoneyDonors);
        itemsTabButton.addEventListener("click", showItemsDonors);

        // Verifica se a página já carrega na aba "Top 10 Doadores"
        if (document.getElementById("top-donors-container").style.display === "flex") {
            showMoneyDonors();
        }
    });

    document.getElementById('top-campaigns').addEventListener('click', function () {
        document.getElementById('top-campaigns-container').style.display = 'flex';
        document.getElementById('all-campaigns-container').style.display = 'none';
        document.getElementById('top-donors-container').style.display = 'none';
        this.classList.add('active');
        document.getElementById('all-campaigns').classList.remove('active');
        document.getElementById('top-donors').classList.remove('active');
    });

    document.getElementById('all-campaigns').addEventListener('click', function () {
        document.getElementById('all-campaigns-container').style.display = 'flex';
        document.getElementById('top-campaigns-container').style.display = 'none';
        document.getElementById('top-donors-container').style.display = 'none';
        this.classList.add('active');
        document.getElementById('top-campaigns').classList.remove('active');
        document.getElementById('top-donors').classList.remove('active');
    });

    document.getElementById('top-donors').addEventListener('click', function () {
        document.getElementById('all-campaigns-container').style.display = 'none';
        document.getElementById('top-campaigns-container').style.display = 'none';
        document.getElementById('top-donors-container').style.display = 'flex';
        this.classList.add('active');
        document.getElementById('all-campaigns').classList.remove('active');
        document.getElementById('top-campaigns').classList.remove('active');
    });

    function switchTab(type) {
    const itemsTab = document.getElementById('items-top-donors');
    const moneyTab = document.getElementById('money-top-donors');
    
    if (type === 'items') {
        itemsTab.style.display = 'flex';
        moneyTab.style.display = 'none';
        document.getElementById('items-tab').classList.add('active');
        document.getElementById('money-tab').classList.remove('active');
    } else {
        itemsTab.style.display = 'none';
        moneyTab.style.display = 'flex';
        document.getElementById('money-tab').classList.add('active');
        document.getElementById('items-tab').classList.remove('active');
    }
    }

    document.getElementById('filter-button').addEventListener('click', function () {
        const filterSection = document.getElementById('filter-section');
        if (filterSection.style.display === 'none') {
            filterSection.style.display = 'block';
        } else {
            filterSection.style.display = 'none';
        }
    });

</script>

{% endblock %}
