{% extends "base.html" %}

{% block title %} Perfil {% endblock %}

{% block titlePage %} Perfil {% endblock %}

{% block style %}
<style>
    .profile-page {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .profile-container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 35%;
        margin-right: 30px;
        padding: 2%;
        background-color: #0d2329;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        gap: 10px;
    }

    .profile-container1 h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #FFFFFF;
    }

    .profile-container1 img {
        width: 60%; /* Define um tamanho fixo apropriado */
        height: auto; /* Mantém as proporções */
        border-radius: 50%; /* Deixa a imagem circular */
        object-fit: cover; /* Garante que a imagem se ajuste bem ao espaço */
        border: 3px solid #05664f; /* Opcional: borda para destaque */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Suaviza o visual */
}

    .profile-info1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }

    .profile-info1 .info-item {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        color: #FFFFFF;
    }

    .profile-info1 .info-item p {
        word-wrap: break-word;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    .profile-info1 .info-item i {
        font-size: 18px;
    }



    .profile-container2 h1 {
        color: #0d2329;
    }

    .profile-container2 {
        display: flex;
        flex-direction: column;
        background-color: #f9f9f9;
        width: 100%; 
        max-width: 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        padding: 20px;
        gap: 10px;
        box-sizing: border-box;
        overflow: hidden; 
}

    .profile-info2 {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        gap: 10px;
        box-sizing: border-box;
        overflow: hidden;
}

    .info2-items {
        width: 100%; 
        height: 95px;
        border: 2px solid #05664f;
        background-color: #F9F9F9;
        padding: 20px;
        border-radius: 10px;
        box-sizing: border-box;
    }

        .info2-buttons {
        grid-column: span 3;
        margin-top: 10px;
        height: 85px;
        border: 2px solid #05664f;
        border-radius: 10px;
        box-sizing: bord
    }


    @media (max-width: 768px) {
        .profile-page {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .profile-container1 {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        .profile-container2 {
            width: 100%;
        }

        .profile-info1 .info-item {
            font-size: 20px;
        }

        .profile-container1 h2 {
            font-size: 25px;
        }
    }

    @media (max-width: 480px) {
        
        .profile-page {
            gap: 15px
        }

        .profile-container1 {
            width: 90%; 
            margin: 0 auto;
            padding: 10px; 
            gap: 5px; 
        }

        .profile-info1 .info-item {
            font-size: 10px;
        }

        .profile-container1 h2 {
            font-size: 20px;
        }

        .profile-container1 img {
            max-width: 50%;
            height: auto; 
        }

        .profile-container2 {
            width: 90%;
        }

    }

</style>
{% endblock %}

{% block content %}
<div class="profile-page">
    <div class="profile-page">
        <div class="profile-container1">
            <img src="/static/images/avatar.jpg" alt="profile_image">
            <h2>Perfil do Usuário</h2>
            <div class="profile-info1">
                <div class="info-item">
                    <i class="fas fa-user"></i>
                    <p>Nome: Neguinho da XJ</p>
                </div>
                <div class="info-item">
                    <i class="fas fa-envelope"></i>
                    <p>Email: neguinho@example.com</p>
                </div>
                <div class="info-item">
                    <i class="fas fa-calendar-alt"></i>
                    <p>Data de Registro: 01/01/2023</p>
                </div>
                <div class="info-item">
                    <i class="fas fa-phone"></i>
                    <p>Telefone: (11) 98765-4321</p>
                </div>
            </div>
        </div>
        <div class="profile-container2">
            <h1>Informações</h1>
            <div class="profile-info2">
                <div class="info2-items"></div>
                <div class="info2-items"></div>
                <div class="info2-items"></div>
                <div class="info2-items"></div>
                <div class="info2-items"></div>
                <div class="info2-items"></div>
                <div class="info2-items"></div>
                <div class="info2-items"></div>
                <div class="info2-items"></div>
                <div class="info2-buttons"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}